In [25]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [26]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv(r'C:\Users\juhyn\OneDrive\Desktop\athletic_sales_analysis\Starter_Code\Resources\athletic_sales_2020.csv')
df_2021 = pd.read_csv(r'C:\Users\juhyn\OneDrive\Desktop\athletic_sales_analysis\Starter_Code\Resources\athletic_sales_2021.csv')

In [27]:
# Display the 2020 sales DataFrame
print("2020 Sales DataFrame:")
print(df_2020)

2020 Sales DataFrame:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [28]:
# Display the 2021 sales DataFrame
print("2021 Sales DataFrame:")
print(df_2021)

2021 Sales DataFrame:
         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [29]:
# Check the 2020 sales data types.
print("Data types of the 2020 sales DataFrame:")
print(df_2020.dtypes)

Data types of the 2020 sales DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [30]:
# Check the 2021 sales data types.
print("Data types of the 2021 sales DataFrame:")
print(df_2021.dtypes)

Data types of the 2021 sales DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [31]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)
combined_df.reset_index(drop=True, inplace=True)
print("Combined DataFrame:")
print(combined_df)

Combined DataFrame:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [32]:
# Check if any values are null.
null_values = combined_df.isnull().sum()
print("Null values in the combined DataFrame:")
print(null_values[null_values > 0])

Null values in the combined DataFrame:
Series([], dtype: int64)

In [33]:
# Check the data type of each column
print("Data types of each columb in the DataFrame:")
print(combined_df.dtypes)

Data types of each columb in the DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [34]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

C:\Users\juhyn\AppData\Local\Temp\ipykernel_17704\1124417652.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [35]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df['invoice_date'].dtype)
print(combined_df)

datetime64[ns]
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [36]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
df = pd.DataFrame

products_sold_by_location = combined_df.groupby(['region', 'state', 'city'])['units_sold'].agg(Total_Products_Sold='sum')

# Show the top 5 results.
top_5_locations = products_sold_by_location.nlargest(5, 'Total_Products_Sold')
print(top_5_locations)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [37]:
# Show the number products sold for region, state, and city.
pivot_table = pd.pivot_table(combined_df, 
                             values='units_sold', 
                             index=['region', 'state', 'city'], 
                             aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'total products sold'})

# Show the top 5 results.
top_5_locations = pivot_table.nlargest(5, 'total products sold')
print(top_5_locations)

                                    total products sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [38]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_by_location = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

total_sales_by_location = total_sales_by_location.rename(columns={'total_sales': 'Total Sales'})
# Show the top 5 results.
top_5_locations = total_sales_by_location.nlargest(5, 'Total Sales')
print(top_5_locations)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [39]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table = pd.pivot_table(combined_df,
                             values='total_sales',
                             index=['region', 'state', 'city'],
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_locations = pivot_table.nlargest(5, 'Total Sales')
print(top_5_locations)

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [40]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
top_retailers = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].agg(total_sales='sum')
top_retailers = top_retailers.rename(columns={'total_sales': 'Total Sales'})
# Show the top 5 results.
top_5_retailers = top_retailers.nlargest(5, 'Total Sales')
print(top_5_retailers)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [41]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table = pd.pivot_table(combined_df,
                             values='total_sales',
                             index=['retailer', 'region', 'state', 'city'],
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_retailers = pivot_table.nlargest(5, 'Total Sales')
print(top_5_retailers)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [42]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = combined_df[combined_df["product"].str.contains("Women's Athletic Footwear")]
print(womens_athletic_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [43]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_sales = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
womens_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_sales = womens_sales.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_5_sales)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [44]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table = womens_athletic_footwear_sales.pivot_table(
    values='units_sold', 
    index=['retailer', 'region', 'state', 'city'], 
    aggfunc='sum'
)

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_sales = pivot_table.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_5_sales)

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [45]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = womens_athletic_footwear_sales.pivot_table(
    values='total_sales',
    index=['invoice_date'],
    aggfunc='sum'
)

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print(pivot_table)

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [46]:
# Resample the pivot table into daily bins, and get the total sales for each day.
resampled_pivot_table = pivot_table.resample('D').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_resampled_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=False)
print(sorted_resampled_pivot_table)

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
...                   ...
2021-02-27              0
2021-02-25              0
2020-07-30              0
2020-07-31              0
2021-01-01              0

[727 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [47]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
resampled_pivot_table = pivot_table.resample('W').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_resampled_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=False)
print(sorted_resampled_pivot_table)

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]